* {
    cursor: none;
    background-color: #333;
  }
  
  .cursor-dot,
  .cursor-dot-outline {
    pointer-events: none;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    opacity: 1;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  .cursor-dot {
    width: 6px;
    height: 6px;
    background-color: whitesmoke;
  }
  
  .cursor-dot-outline {
    border: 2px solid whitesmoke;
    width: 30px;
    height: 30px;
    background-color: 'transparent';
  }
  